@media screen and (min-width: 1367px) {
    .wrapper-main {
        width: 70%;
        margin: 0 auto;
    }

    .main-logo {
        width: 140px;
    }

    .top-bar {
        width: 70%;
        margin: 0 auto;
    }

    .navigation-links a,
    .our-work-links a,
    .one-column a,
    .testimonials-wrapper a {
        font-size: 20px;
    }

    .bottom-bar {
        width: 70%;
        margin: 0 auto;
    }

    .home-content h1 , .about-us-content h1, .our-work-content h1, .adopt-foster-content h1, .donate-content h1, .testimonials-content h1, .contact-content h1 {
        font-size: 80px;
    }

    .home-content h4 {
        font-size: 20px;
    }

    .home-content a {
        font-size: 20px;
    }

    .subscribe-input {
        width: 400px;
    }

    .subscribe-button {
        width: 100px;
        height: 45px;
        font-size: 20px;
    }
    .subscribe-form ::placeholder {
        font-size: 20px;
    }

    .about-us-content {
        width: 100%;
    }

    .about-us-text {
        /* margin-top: -1vh; */
    }

    .about-us-content p {
        font-size: 19px;
    }

    .slideshow-container {
        /* margin-top: 7vh; */
    }

    .mySlides {
        width: 350px;
        height: 550px;
    }

    .placeholder-pic {
        height: 400px;
    }

    .our-work-flex {
        width: 70%;
        height: 50vh;
    }

    .our-work-text {
        margin-left: 3vh;
    }

    .our-work-content p {
        font-size: 16px;
        line-height: 1.3;
    }

    .our-work-flex img {
        width: 350px;
        height: 400px;
    }

    .all-columns {
        width: 75%;
        margin: 0 auto;
    }

    .one-column a {
        font-size: 22px;
    }

    .one-column p {
        font-size: 19px;
    }

    .small-icon {
        margin-top: 4vh;
        width: 60px;
    }

    .donate-wrapper {
        width: 95%;
    }

    .donate-left p {
        font-size: 19px;
    }

    .donate-right {
        margin-top: 10vh;
    }

    .donate-icon {
        width: 220px;
        height: 140px;
    }

    .all-reviews {
        width: 60%;
        height: 42vh;
    }

    .leave-review {
        width: 100%;
        height: 50vh;
    }

    .one-review h3 {
        font-size: 18px;
    }

    .one-review p {
        font-size: 17px;
    }

    .contact-links {
        justify-content: space-evenly;
        padding: 20px;
    }

    .contact-icon {
        width: 30px;
        height: 30px;
    }

    .contact-div p {
        font-size: 17px;
    }

    .form-total {
        height: 50vh;
        width: 80vh;
    }

    .contact-form label {
        font-size: 18px;
    }

    .contact-form p {
        font-size: 17px;
    }

    .contact-form ::placeholder {
        font-size: 16px;
    }

    .contact-form select,
    input,
    option,
    textarea {
        font-size: 18px;
    }

    .petfinder-content h1 {
        font-size: 80px;
    }

    .petfinder-wrapper {
        width: 80%;
    }

    .all-cats a {
        font-size: 22px;
    }

    .all-cats h4 {
        font-size: 16px;
    }

    .all-cats p {
        font-size: 18px;
        line-height: 1.4;
    }

    .cat-picture {
        width: 220px;
        height: 220px;
        padding: 15px;
    }

    .one-cat h2 {
        font-size: 40px;
    }

    .one-cat h4 {
        font-size: 22px;
    }

    .one-cat h5 {
        font-size: 17px;
    }

    .one-cat a {
        font-size: 18px;
    }

    .cat-slide img {
        width: 350px;
        height: 420px;
    }

    .prev {
        width: 50px;
        height: 50px;
    }

    .next {
        width: 50px;
        height: 50px;
    }

    .petfinder {
        width: 330px;
    }

    .petfinder img {
        width: 120px;
    }

    .cat-form {
        width: 280px;
    }

    .cat-form img {
        width: 50px;
        height: 50px;
    }

    .cat {
        height: 35vh;
    }
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar-track {
        background: #797979;
        border-radius: 9px;
    }

    ::-webkit-scrollbar-thumb {
        background: #000000;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #515151;
    }

    /* Top Navigations */
    .main-logo {
        width: 100px;
    }

    .social-links {
        display: none;
    }

    .top-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .top-bar {
        background-color: rgb(0, 0, 0);
        width: 100%;
    }

    .hamburger {
        order: 2;
    }

    .ham-menu-links {
        order: 3;
    }

    .hamburger-menu {
        display: block;

    }

    .ham-social-links {
        display: flex;
        position: relative;
        justify-content: end;
    }

    .ham-menu-links.active {
        display: flex;
        flex-direction: column;
        background-color: rgb(67, 67, 67);
        position: absolute;
        top: 60px;
        left: 48vh;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .ham-menu-links a {
        text-align: center;
    }

    .hamburger {
        width: 50px;
    }



    .navigation-links {
        display: none;
    }

    .ham-menu-links a {
        text-align: center;
        padding: 15px;
        display: block;
        color: white;
        text-decoration: none;
    }

    .ham-menu-links a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url(/assets/bg-pic4.jpg) no-repeat center center;
    }

    .video-section {
        display: none;
    }

    .wrapper-main {
        width: 100%;
    }

    .background-pic {
        display: block;
    }

    /* Home page */

    .home-content h4 {
        color: rgba(12, 250, 51, 0.923);
    }


    /* About Us page */

    .about-us-content {
        width: 100%;
    }

    .about-us-wrapper {
        flex-direction: column;
        margin-top: 15vh;
    }

    .description {
        width: 95%;
        margin: 0 auto;
    }

    .slideshow-container {
        margin-right: 0;
    }

    .mySlides {
        height: 380px;
    }


    /* Our Work Section */


    .our-work-flex {
        width: 95%;
        height: 60vh;
        flex-direction: column;
        backdrop-filter: none;
        box-shadow: none;
        background-color: rgba(98, 97, 97, 0.709);
    }

    .our-work-content p {
        font-size: 14px;
        line-height: 1.2;

    }

    .work-picture {
        margin-top: -5vh;
    }

    /* Adopt & Foster page */

    .adopt-foster-content {
        width: 100%;
    }

    .adopt-foster-content h1 {
        font-size: 50px;
    }

    .all-columns {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        margin: 0 auto;
    }

    .one-column a {
        color: rgba(12, 250, 51, 0.923);
        text-decoration: underline;
    }

    .one-column {
        border-bottom: 1px dotted rgb(181, 181, 181);
    }

    .one-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .no-border {
        border-bottom: none;
    }

    .one-column p {
        margin-top: 2vh;
        width: 100%;
        font-size: 14px;
    }

    .our-work-arrow {
        display: none;
    }

    /* Donate page */

    .donate-wrapper {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .donate-left {
        margin-left: 0;
    }

    .donate-left p {
        margin-top: 2vh;
    }

    .donate-right {
        margin-top: 3vh;
    }

    .heart-icon {
        margin: 0 auto;
    }

    .all-donate-icons {
        display: flex;
        flex-direction: column;
    }

    .donate-icon {
        width: 120px;
        height: 85px;
    }

    /* Testimonials */

    .all-reviews {
        width: 95%;
        height: 60vh;
        background-color: rgba(49, 49, 49, 0.3);
        border-radius: 20px;
    }


    .testimonials-wrapper a {
        color: rgba(12, 250, 51, 0.923);
        text-decoration: underline;
        font-family: 'Titillium Web';
    }
    .leave-review {
        height: 70vh;
    }

    .scroll-instruction p {
        color: rgb(255, 157, 157);
        font-family: 'Titillium Web';
        font-size: 14px;
    }

    /* Contact Us page */

    .contact-links {
        margin-top: 3vh;
        gap: 5vh;
    }

    .scroll-instruction {
        display: block;
    }

    .form-total {
        width: 100%;
        height: 60vh;
        margin: 0 auto;
        margin-top: 3vh;
    }

    .contact-form {
        box-shadow: none;
        border-radius: none;
        background-color: rgba(49, 49, 49, 0.575);

    }

    .contact-links p {
        color: white;
        text-decoration: none;
    }

    .contact-form select,
    input,
    option,
    textarea {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .message-box {
        height: 12vh;
        width: 95%;
        margin: 0 auto;
    }

    .submit {
        width: 150px;
    }

    /* Adoptable Kitties page*/

    .petfinder-wrapper {
        width: 85%;
    }

    .all-cats {
        background-color: rgba(49, 49, 49, 0.434);
    }

    .all-cats h4 {
        font-size: 18px;
    }

    .cat-picture {
        width: 280px;
        height: 250px;
    }

    .one-cat a {
        color: rgba(12, 250, 51, 0.923);
    }

    .cat-slideshow-container {
        padding: 10px;
        flex-direction: column;
    }

    .cat-slide img {
        width: 330px;
        height: 400px;
    }
}


@media screen and (max-width: 535px) {
    .ham-menu-links.active {
        left: 40vh;
    }
}
@media screen and (max-width: 475px) {

    .ham-menu-links.active {
        left: 32vh;
    }

    
}

@media screen and (max-width: 413px) {
    .ham-menu-links.active {
        left: 27vh;
    }
}

@media screen and (max-width: 373px) {
    .ham-menu-links.active {
        left: 22vh;
    }
}

@media screen and (max-width: 310px) {
    .ham-menu-links.active {
        left: 20vh;
    }
}

@media screen and (max-width: 287px) {

    .mySlides {
        height: 350px;
    }
    .small-icon {
        margin-top: 0vh;
        width: 30px;
    }
    .one-column p {
        margin-top: 1vh;
        font-size: 14px;
    }

    .heart-icon img {
        display: none;
    }
}