
@media screen and (min-width: 1282px) {
    /* #home {
        height: 110vh;
    } */


    #home, #about-us, #our-work, #adopt-foster, #donate, #testimonials, #contact, #petfinder {
        height: fit-content;
        padding-bottom: 5vh;
    }

    #our-work {
        padding-bottom: 15vh;
    }
    
    .wrapper-main {
        width: 80%;
        margin: 0 auto;
    }

    .main-logo {
        width: 100px;
    }

    .social-icon {
        width: 60px;
    }

    .top-bar {
        width: 80%;
        margin: 0 auto;
    }

    .navigation-links a,
    .our-work-links a,
    .one-column a,
    .testimonials-wrapper a {
        font-size: 22px;
    }

    .home-content h1 , .about-us-content h1, .our-work-content h1, .adopt-foster-content h1, .donate-content h1, .testimonials-content h1, .contact-content h1 , .petfinder-content h1 {
        font-size: 80px;
    }

    .home-content h1 {
        margin-top: 15vh;
        font-size: 90px;
    }
    .home-content h4 {
        font-size: 20px;
    }

    .home-content a {
        font-size: 20px;
    }

    .main-pic-div {
        padding: 25px;
    }




    .about-us-content {
        width: 90%;
        margin: 0 auto;
        
    }

    .about-us-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        gap: 5vh;
    }


    .about-us-text {
        display: flex;
        flex-direction: column;
        margin-top: -10vh;
        flex: 1;
    }
    .slideshow-container {
        margin-top: 4vh;
        flex: 1;
    }
    
    .about-us-content p {
        font-size: 19px;
    }

    .mySlides {
        width: 400px;
        height: 600px;
    }


    .placeholder-pic {
        height: 400px;
    }

    .our-work-flex {
        width: 80%;
        height: fit-content;
    }

    .our-work-text {
        margin-left: 3vh;
    }

    .our-work-content p {
        font-size: 18px;
        line-height: 1.3;
    }

    .our-work-flex img {
        width: 350px;
        height: 400px;
    }



    .all-columns {
        width: 80%;
        margin: 0 auto;
        margin-top: 5vh;
    }

    .one-column a {
        font-size: 25px;
    }

    .one-column p {
        font-size: 20px;
    }

    .small-icon {
        margin-top: 4vh;
        width: 70px;
    }


    .donate-wrapper {
        width: 90%;
        padding-bottom: 20vh;
        align-items:flex-start;
    }

    .thank-you-icon {
        display: none;
    }

    .thank-you-icon2 {
        margin-top: -3vh;
    }

    .donate-text {
        margin-top: 4vh;
    }


    .donate-left p {
        font-size: 20px;
        
        
    }

    .donate-right {
        margin-top: 5vh;
    }

    .donate-right p {
        font-size: 22px;
        font-family: 'Titillium Web';
        color: rgb(42, 251, 42);
        text-decoration: underline;
        width: 60%;
        margin: 0 auto;
    }

    .donate-icon {
        width: 200px;
        height: 120px;
    }


    
    .all-reviews {
        width: 70%;
        height: 42vh;
    }

    .leave-review {
        width: 100%;
        height: fit-content;
    }

    .one-review h3 {
        font-size: 22px;
    }

    .one-review p {
        font-size: 22px;
    }

    .review-form label {
        font-size: 22px;
    }

    .review-form ::placeholder {
        font-size: 21px;
    }



    .subscribe-input {
        width: 320px;
    }

    .subscribe-button {
        width: 100px;
        height: 45px;
        font-size: 20px;
    }
    .subscribe-form ::placeholder {
        font-size: 20px;
    }
    .subscribe-form input {
        font-size: 20px;
    }

    .contact-links {
        justify-content: space-evenly;
        padding: 20px;
    }

    .subscribe-div h4 {
        font-size: 20px;
    }

    .contact-icon {
        width: 30px;
        height: 30px;
    }

    .contact-div p {
        font-size: 20px;
    }

    .form-total {
        height: fit-content;
        width: 80vh;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid white;
    }

    .contact-form label {
        font-size: 22px;
    }

    .contact-form ::placeholder {
        font-size: 20px;
    }

    .contact-form select,
    input,
    option,
    textarea {
        font-size: 20px;
    }

    .petfinder-content h1 {
        font-size: 85px;
    }

    .petfinder-wrapper {
        width: 80%;
    }

    .all-cats a {
        font-size: 22px;
    }

    .all-cats h4 {
        font-size: 16px;
    }

    .all-cats p {
        font-size: 18px;
        line-height: 1.4;
    }

    .cat-picture {
        width: 220px;
        height: 220px;
        padding: 15px;
    }

    .one-cat h2 {
        font-size: 40px;
    }

    .one-cat h4 {
        font-size: 22px;
    }

    .one-cat h5 {
        font-size: 17px;
    }

    .one-cat a {
        font-size: 18px;
    }

    .cat-slide img {
        width: 350px;
        height: 420px;
    }

    .prev {
        width: 50px;
        height: 50px;
    }

    .next {
        width: 50px;
        height: 50px;
    }

    .petfinder {
        width: 330px;
    }

    .petfinder img {
        width: 120px;
    }

    .cat-form {
        width: 430px;
    }

    .cat-form img {
        width: 50px;
        height: 50px;
    }

    .cat-form a {
        font-size: 25px;
        color: rgba(12, 250, 51, 0.923);
    }

    .cat-form img {
        width: 60px;
        height: 60px;
    }

    .cat {
        height: 35vh;
    }
}

@media screen and (max-width: 1281px) {

    /* #home {
        height: 120vh;
    } */
    #home {
        height: fit-content;
        padding-bottom: 10vh;
    }


    #about-us, #our-work, #adopt-foster, #donate, #testimonials, #contact, #petfinder {
        height: fit-content;
        padding-bottom: 5vh;
    }

    #our-work {
        padding-bottom: 15vh;
    }
    
    .wrapper-main {
        width: 80%;
        margin: 0 auto;
    }

    .main-logo {
        width: 100px;
    }

    .social-icon {
        width: 60px;
    }

    .top-bar {
        width: 80%;
        margin: 0 auto;
    }

    .navigation-links a,
    .our-work-links a,
    .one-column a,
    .testimonials-wrapper a {
        font-size: 22px;
    }

    .home-content h1 , .about-us-content h1, .our-work-content h1, .adopt-foster-content h1, .donate-content h1, .testimonials-content h1, .contact-content h1 , .petfinder-content h1 {
        font-size: 100px;
    }

    .home-content h1 {
        margin-top: 15vh;
    }

    .home-content h4 {
        font-size: 20px;
    }

    .home-content a {
        font-size: 20px;
    }

    .main-pic-div {
        padding: 25px;
    }




    .about-us-content {
        width: 100%;
        margin: 0 auto;
    }

    .about-us-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        gap: 5vh;
    }


    .about-us-text {
        display: flex;
        flex-direction: column;
        margin-top: -10vh;
        flex: 1;
    }
    .slideshow-container {
        margin-top: 4vh;
        flex: 1;
    }
    
    .about-us-content p {
        font-size: 19px;
    }

    .mySlides {
        width: 400px;
        height: 600px;
    }


    .placeholder-pic {
        height: 400px;
    }

    .our-work-flex {
        width: 90%;
        height: fit-content;
    }

    .our-work-text {
        margin-left: 3vh;
    }

    .our-work-content p {
        font-size: 18px;
        line-height: 1.3;
    }

    .our-work-flex img {
        width: 350px;
        height: 400px;
    }

    .all-columns {
        width: 90%;
        margin: 0 auto;
    }

    .one-column a {
        font-size: 25px;
    }

    .one-column p {
        font-size: 20px;
    }

    .small-icon {
        margin-top: 4vh;
        width: 70px;
    }


    .donate-wrapper {
        width: 100%;
        align-items:flex-start;
    }

    .thank-you-icon {
        display: none;
    }

    .thank-you-icon2 {
        margin-top: -3vh;
    }

    .donate-text {
        margin-top: 4vh;
    }


    .donate-left p {
        font-size: 20px;
        
        
    }

    .donate-right {
        margin-top: 5vh;
    }

    .donate-right p {
        font-size: 22px;
        font-family: 'Titillium Web';
        color: rgb(42, 251, 42);
        text-decoration: underline;
        width: 60%;
        margin: 0 auto;
    }

    .donate-icon {
        width: 200px;
        height: 120px;
    }


    
    .all-reviews {
        width: 70%;
        height: 42vh;
    }

    .leave-review {
        width: 100%;
        height: fit-content;
    }

    .one-review h3 {
        font-size: 22px;
    }

    .one-review p {
        font-size: 22px;
    }

    .review-form label {
        font-size: 22px;
    }

    .review-form ::placeholder {
        font-size: 21px;
    }



    .subscribe-input {
        width: 320px;
    }

    .subscribe-button {
        width: 100px;
        height: 45px;
        font-size: 20px;
    }
    .subscribe-form ::placeholder {
        font-size: 20px;
    }
    .subscribe-form input {
        font-size: 20px;
    }

    .contact-links {
        justify-content: space-evenly;
        padding: 20px;
    }

    .subscribe-div h4 {
        font-size: 20px;
    }

    .contact-icon {
        width: 30px;
        height: 30px;
    }

    .contact-div p {
        font-size: 20px;
    }

    .form-total {
        height: fit-content;
        width: 80vh;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid white;
        border-radius: 5px;
    }

    .contact-form label {
        font-size: 22px;
    }

    .contact-form ::placeholder {
        font-size: 20px;
    }

    .contact-form select,
    input,
    option,
    textarea {
        font-size: 20px;
    }


    .petfinder-wrapper {
        width: 80%;
    }

    .all-cats a {
        font-size: 22px;
    }

    .all-cats h4 {
        font-size: 16px;
    }

    .all-cats p {
        font-size: 18px;
        line-height: 1.4;
    }

    .cat-picture {
        width: 220px;
        height: 220px;
        padding: 15px;
    }

    .one-cat h2 {
        font-size: 40px;
    }

    .one-cat h4 {
        font-size: 22px;
    }

    .one-cat h5 {
        font-size: 17px;
    }

    .one-cat a {
        font-size: 18px;
    }

    .cat-slide img {
        width: 350px;
        height: 420px;
    }

    .prev {
        width: 50px;
        height: 50px;
    }

    .next {
        width: 50px;
        height: 50px;
    }

    .petfinder {
        width: 330px;
    }

    .petfinder img {
        width: 120px;
    }

    .cat-form {
        width: 430px;
    }

    .cat-form img {
        width: 50px;
        height: 50px;
    }

    .cat-form a {
        font-size: 25px;
        color: rgba(12, 250, 51, 0.923);
    }

    .cat-form img {
        width: 60px;
        height: 60px;
    }

    .cat {
        height: 35vh;
    }
}

@media screen and (max-width: 1025px) {
    /* #home {
        height: 130vh;
    } */

    #home, #about-us, #our-work, #adopt-foster, #donate, #testimonials, #contact, #petfinder {
        height: fit-content;
        padding-bottom: 5vh;
    }

    .top-bar-dummy {
        height: 128px;
    }



    .main-logo {
        width: 100px;
    }

    .navigation-links a,
    .our-work-links a,
    .one-column a,
    .testimonials-wrapper a {
        font-size: 18px;
    }

    .home-content h1 , .about-us-content h1, .our-work-content h1, .adopt-foster-content h1, .donate-content h1, .testimonials-content h1, .contact-content h1 , .petfinder-content h1 {
        font-size: 80px;
    }

    .home-content {
        margin-top: 6vh;
    }

    .about-us-content {
        width: 100%;
        margin: 0 auto;
    }

    .about-us-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        gap: 5vh;
    }

    .about-us-text {
        display: flex;
        flex-direction: column;
        margin-top: -8vh;
        flex: 1;
    }
    .slideshow-container {
        margin-top: 2vh;
        flex: 1;
    }
    
    .about-us-content p {
        font-size: 17px;
    }

    .mySlides {
        width: 350px;
        height: 550px;
    }

    .placeholder-pic {
        height: 380px;
    }

    .our-work-flex {
        width: 85%;
        height: fit-content;
    }

    .our-work-text {
        margin-left: 3vh;
    }

    .our-work-content p {
        font-size: 17px;
        line-height: 1.3;
    }

    .our-work-flex img {
        width: 330px;
        height: 380px;
    }

    .all-columns {
        width: 90%;
        margin: 0 auto;
    }

    .one-column a {
        font-size: 22px;
    }

    .one-column p {
        font-size: 18px;
    }

    .small-icon {
        margin-top: 4vh;
        width: 60px;
    }
    
    .thank-you-icon {
        display: none;
    }



    .donate-wrapper {
        width: 100%;
        align-items:flex-start;
    }

    .donate-text {
        margin-top: 3vh;
    }

    .donate-text span {
        color: rgb(18, 253, 18);
        text-decoration: underline;
    }

    .donate-left p {
        font-size: 16px;
    }

    .thank-you-icon2 {
        margin-top: -2vh;
    }
    .donate-right {
        margin-top: 3vh;
        
    }

    .donate-right p {
        font-size: 18px;
        font-family: 'Titillium Web';
        color: rgb(42, 251, 42);
        text-decoration: underline;
        width: 60%;
        margin: 0 auto;
    }

    .donate-icon {
        width: 140px;
        height: 80px;
    }


    .all-reviews {
        width: 70%;
        height: 42vh;
    }

    .leave-review {
        width: 100%;
        height: fit-content;
    }

    .one-review h3 {
        font-size: 20px;
    }

    .one-review p {
        font-size: 18px;
    }

    .review-form label {
        font-size: 20px;
    }

    .review-form ::placeholder {
        font-size: 20px;
    }


    .subscribe-input {
        width: 300px;
    }

    .subscribe-button {
        width: 100px;
        height: 45px;
        font-size: 19px;
    }
    .subscribe-form ::placeholder {
        font-size: 19px;
    }
    .subscribe-form input {
        font-size: 19px;
    }

    .contact-links {
        justify-content: space-evenly;
        padding: 20px;
    }

    .subscribe-div h4 {
        font-size: 20px;
    }

    .contact-icon {
        width: 30px;
        height: 30px;
    }

    .contact-div p {
        font-size: 20px;
    }

    .form-total {
        height: fit-content;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid white;
        width: 70vh;
    }

    .contact-form label {
        font-size: 20px;
    }

    .contact-form ::placeholder {
        font-size: 20px;
    }

    .contact-form select,
    input,
    option,
    textarea {
        font-size: 20px;
    }


    .petfinder-wrapper {
        width: 80%;
    }

    .all-cats a {
        font-size: 22px;
    }

    .all-cats h4 {
        font-size: 16px;
    }

    .all-cats p {
        font-size: 18px;
        line-height: 1.4;
    }

    .cat-picture {
        width: 200px;
        height: 200px;
        padding: 15px;
    }

    .one-cat {
        width: 80%;
        margin: 0 auto;
    }

    .one-cat h2 {
        font-size: 40px;
    }

    .one-cat h4 {
        font-size: 22px;
    }

    .one-cat h5 {
        font-size: 17px;
    }

    .one-cat a {
        font-size: 18px;
    }

    .cat-slide img {
        width: 350px;
        height: 420px;
    }

    .prev {
        width: 50px;
        height: 50px;
    }

    .next {
        width: 50px;
        height: 50px;
    }

    .petfinder {
        width: 330px;
    }

    .petfinder img {
        width: 120px;
    }

    .cat-form {
        width: 430px;
    }

    .cat-form img {
        width: 50px;
        height: 50px;
    }

    .cat-form a {
        font-size: 25px;
        color: rgba(12, 250, 51, 0.923);
    }

    .cat-form img {
        width: 60px;
        height: 60px;
    }

    .cat {
        height: fit-content;
    }

    .cat h4 {
        padding-bottom: 5vh;
    }
}



@media screen and (max-width: 769px) {
    /* #home {
        height: 100vh;
        padding-bottom: 5vh;
    } */
    
    #home, #about-us, #our-work,  #adopt-foster, #donate, #testimonials,  #contact, #petfinder {
        height: fit-content;
        padding-bottom: 5vh;
    }
    

    /* Top Navigations */
    .main-logo {
        width: 110px;
        margin-left: -5vh;
    }

    .social-links {
        display: none;
    }

    .top-bar-dummy {
        display: none;
    }

    .top-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .top-bar {
        background-color: rgb(0, 0, 0);
        width: 100%;
    }

    .hamburger {
        order: 2;
    }

    .ham-menu-links {
        order: 3;
    }

    .hamburger-menu {
        display: block;

    }

    .ham-social-links {
        display: flex;
        position: relative;
        justify-content: end;
    }

    .ham-menu-links.active {
        display: flex;
        flex-direction: column;
        background-color: rgb(67, 67, 67);
        position: absolute;
        top: 60px;
        left: 48vh;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .ham-menu-links a {
        text-align: center;
    }

    .hamburger {
        width: 50px;
    }



    .navigation-links {
        display: none;
    }

    .ham-menu-links a {
        text-align: center;
        padding: 15px;
        display: block;
        color: white;
        text-decoration: none;
    }

    .ham-menu-links a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .ham-menu-links.active {
        left: 52vh;
    }

    .wrapper-main {
        width: 100%;
    }

    .social-icon {
        width: 60px;
    }

    .home-content h1, .about-us-content h1, .our-work-content h1, .adopt-foster-content h1, .donate-content h1, .testimonials-content h1, .contact-content h1, .petfinder-content h1 {
        font-size: 80px;
    }
    .main-pic-div {
        padding: 25px;
    }
    
    .home-content {
        margin-top: 4vh;
    }




    .about-us-content {
        width: 90%;
    }

    .about-us-text {
        padding: 12px;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.704);
        border-radius: 5px;
        line-height: 25px;
    }

    .about-us-text p {
        font-size: 20px;

    }

    .about-us-wrapper {
        flex-direction: column;
        margin-top: 10vh;
        width: 95%;
    }

    .description {
        width: 95%;
        margin: 0 auto;
    }

    .slideshow-container {
        margin-top: -2vh;
        margin-right: 0;
    }

    .mySlides {
        height: 550px;
    }


    .our-work-content {
        width: 95%;
    }

    .our-work-content h1 {
        font-size: 80px;
    }

    .our-work-links {
        flex-direction: column;
    }

    .our-work-links a {
        font-size: 24px;
    }

    .our-work-flex {
        width: 95%;
        height: fit-content;
        flex-direction: column;
        backdrop-filter: none;
        box-shadow: none;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.624);
        padding-left: 7px;
        padding-right: 7px;
    }

    .our-work-content p {
        font-size: 18px;
        line-height: 1.5;
        margin-left: -17px;
    }



    .adopt-foster-content {
        width: 100%;
    }

    .adopt-foster-content h1 {
        font-size: 80px;
    }

    .all-columns {
        flex-direction: column;
        margin-left: 0;
        width: 90%;
        border-radius: 5px;
        margin: 0 auto;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.624);
        margin-top: 5vh;
    }

    .one-column a {
        color: rgba(12, 250, 51, 0.923);
        text-decoration: underline;
        font-size: 28px;
    }

    .one-column {
        border-bottom: 1px dotted rgb(181, 181, 181);
        width: 80%;
        margin: 0 auto;
    }

    .one-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


    .no-border {
        border-bottom: none;
    }

    .one-column p {
        margin-top: 2vh;
        width: 95%;
        font-size: 20px;
        line-height: 2;
    }

    .our-work-arrow {
        display: none;
    }

    .small-icon {
        width: 60px;
    }

    /* Donate page */

    .donate-wrapper {
        flex-direction: column;
        margin: 0 auto;
        width: 95%;
    }

    .donate-content {
        width: 100%;
    }

    .donate-content h1 {
        font-size: 80px;
    }

    .donate-left {
        margin-left: 0;
    }

    .donate-left p {

        /* margin-top: 2vh; */
    }

    .donate-right {
        margin-top: 3vh;
        margin: 0 auto;
    }

    .donate-right p {
        font-family: 27px;
        width: 100%;
    }



    .heart-icon {
        margin: 0 auto;
    }

    .all-donate-icons {
        display: flex;
        flex-direction: column;
        
    }

    .donate-icon {
        width: 200px;
        height: 120px;
    }

    .donate-text {
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.624);
        width: 85%;
        margin: 0 auto;
        border-radius: 5px;
        padding: 15px;
        margin-top: 4vh;
    }

    .donate-text p {
        font-size: 22px;
    }

    /* Testimonials */

    .testimonials-content {
        width: 100%;
    }
    .testimonials-content h1 {
        font-size: 80px;
    }

    .all-reviews {
        width: 85%;
        height: fit-content;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid white;
        border-radius: 5px;
    }

    .one-review h3 {
        font-size: 24px;
    }
    .one-review p {
        font-size: 20px;
    }


    .testimonials-wrapper a {
        color: rgb(97, 254, 44);
        text-decoration: underline;
        font-family: 'Titillium Web';
        font-size: 24px;
    }
    .leave-review {
        width: 90%;
        height: fit-content;
        padding: 10px;
    }
    
    .review-form label {
        font-size: 22px;
    }

    .review-form ::placeholder {
        font-size: 22px;
    }

    .review-form input {
        font-size: 20px;
    }

    .review-form textarea {
        width: 80%;
        height: 160px;
    }

    /* Contact Us page */

    .contact-content h1 {
        font-size: 80px;
    }

    .contact-links {
        margin-top: 2vh;
        gap: 3vh;
        padding-bottom: 3vh;
    }

    .contact-div p {
        font-size: 22px;
    }

    .subscribe-div {
        width: 85%;
    }

    .subscribe-form {
        width: 70%;
        margin: 0 auto;
    }

    .subscribe-button {
        width: 100px;
        height: 50px;
    }

    .form-total {
        width: 95%;
        height: fit-content;
        margin: 0 auto;
        margin-top: 3vh;
        padding: 15px;
    }
    .contact-form {
        box-shadow: none;
        border-radius: none;
        margin: 0 auto;
    }

    .contact-form ::placeholder {
        font-size: 20px;
    }

    .contact-links p {
        color: white;
        text-decoration: none;
    }

    .contact-form select,
    input,
    option,
    textarea {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 70%;
        font-size: 22px;
    }


    .contact-form label  {
        font-size: 22px;
    }

    .contact-form option  {
        font-size:22px;
    }

    .message-box {
        height: 12vh;
        width: 95%;
        margin: 0 auto;
    }

    .submit {
        width: 180px;
    }

    /* Adoptable Kitties page*/
    .petfinder-content {
        width: 100%;
    }
    .petfinder-content h1 {
        font-size: 80px;
    }
    .petfinder-wrapper {
        width: 90%;
    }

    .all-cats {
        background-color: rgba(0, 0, 0, 0.468);
        border: 1px solid rgba(255, 255, 255, 0.672);
    }

    .all-cats h4 {
        font-size: 24px;
    }

    .cat {
        padding-bottom: 5vh;
        /* padding: 10px; */
    }

    .cat a {
        /* margin-top: -10px; */
        font-size: 25px;
        padding-bottom: 5px;
    }

    .cat h4 {
        font-size: 20px;
        padding-bottom: 0;
    }

    .cat-picture {
        width: 300px;
        height: 300px;
    }

    .one-cat h2 {
        font-size: 45px;
    }

    .one-cat h4 {
        font-size: 25px;
    }
    .one-cat h5 {
        font-size: 30px;
    }
    .one-cat p {
        font-size: 24px;
    }
    
    .one-cat a {
        color: rgba(12, 250, 51, 0.923);
        font-size: 22px;
    }

    .prev {
        width: 60px;
        height: 60px;
    }

    .next {
        width: 60px;
        height: 60px;
    }

    .cat-slideshow-container {
        padding: 10px;
        flex-direction: column;
    }
    .cat-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    .cat-slide img {
        width: 380px;
        height: 430px;
    }
    .form-icon {
        margin-top: 5vh;
    }
    .cat-form a {
        font-size: 30px;
    }
    .back-button {
        width: 150px;
    }
    .petfinder {
        width: 400px;
    }
    .petfinder img {
        width: 160px;
    }
    .cat-form img {
        width: 70px;
        height: 70px;
    }



}


@media screen and (max-width: 600px) {
    /* #home {
        height: 120vh;
    } */

    /* #home {
        height: 95vh;
    } */

    #home, #about-us, #our-work, #adopt-foster, #donate, #testimonials, #contact, #petfinder {
        height: fit-content;
        padding-bottom: 5vh;
    }


    ::-webkit-scrollbar-track {
        background: #797979;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #000000;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #515151;
    }

    /* Top Navigations */
    .top-bar-dummy {
        display: none;
    }
    .main-logo {
        width: 100px;
        margin-left: -4vh;
    }

    .social-icon {
        width: 55px;
    }

    .social-links {
        display: none;
    }

    .top-bar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .top-bar {
        background-color: rgb(0, 0, 0);
        width: 95%;
    }

    .hamburger {
        order: 2;
    }

    .ham-menu-links {
        order: 3;
    }

    .hamburger-menu {
        display: block;

    }

    .ham-social-links {
        display: flex;
        position: relative;
        justify-content: end;
    }

    .ham-menu-links.active {
        display: flex;
        flex-direction: column;
        background-color: rgb(67, 67, 67);
        position: absolute;
        top: 60px;
        left: 48vh;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .ham-menu-links a {
        text-align: center;
    }

    .hamburger {
        width: 50px;
    }



    .navigation-links {
        display: none;
    }

    .ham-menu-links a {
        text-align: center;
        padding: 15px;
        display: block;
        color: white;
        text-decoration: none;
    }

    .ham-menu-links a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url(/assets/bg-pic4.jpg) no-repeat center center;
    }

    .video-section {
        display: none;
    }

    .wrapper-main {
        width: 100%;
    }

    .background-pic {
        display: block;
    }

    /* Home page */
    
    .home-content {
        margin-top: 0vh;
    }
    
    .mobile-screen-welcome {
        display: flex;
        /* testing */
        margin-top: 26vh;
    }

    .mobile-screen-welcome h1 {
        font-size: 60px;
        margin-top: -5vh;
    }

    .full-screen-welcome {
        display: none;
    }

    .home-content h4 {
        color: rgba(12, 250, 51, 0.923);
    }

    .main-pic-div {
        padding: 10px;
    }


    /* About Us page */


    .about-us-content {
        width: 95%;
        margin: 0 auto;
    }

    .about-us-content h1{
        font-size: 70px;
    }


    .about-us-text {
        margin-top: -10vh;
        padding: 12px;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.704);
        border-radius: 5px;
        line-height: 25px;
    }

    .about-us-text p {
        font-size: 16px;
    }

    .about-us-wrapper {
        flex-direction: column;
        margin-top: 12vh;
        width: 90%;
    }

    .description {
        width: 95%;
        margin: 0 auto;
    }

    .slideshow-container {
        /* margin-top: 3vh; */
        margin-right: 0;
    }

    .mySlides {
        width: 300px;
        height: 500px;
    }


    /* Our Work Section */

    .placeholder-pic {
        max-width:100%;
    }
    .our-work-content {
        width: 95%;
    }

    .our-work-content h1 {
        font-size: 70px;
    }

    .our-work-links {
        flex-direction: column;
    }

    .our-work-links a {
        font-size: 20px;
    }

    .our-work-flex {
        width: 95%;
        height: fit-content;
        flex-direction: column;
        backdrop-filter: none;
        box-shadow: none;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.624);
        padding-left: 7px;
        padding-right: 7px;
        
    }

    .our-work-content p {
        font-size: 16px;
        line-height: 1.5;
        margin-left: -17px;
    }

    .work-picture {
        margin-top: -5vh;
        margin: 0 auto;
    }

    /* Adopt & Foster page */

    .adopt-foster-content {
        width: 100%;
    }

    .adopt-foster-content h1 {
        font-size: 70px;
    }

    .all-columns {
        flex-direction: column;
        margin-left: 0;
        width: 90%;
        border-radius: 5px;
        margin: 0 auto;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.624);
        margin-top: 5vh;
    }

    .one-column a {
        color: rgba(12, 250, 51, 0.923);
        text-decoration: underline;
        font-size: 24px;
    }

    .one-column {
        border-bottom: 1px dotted rgb(181, 181, 181);
    }

    .one-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


    .no-border {
        border-bottom: none;
    }

    .one-column p {
        margin-top: 2vh;
        width: 95%;
        font-size: 17px;
        line-height: 2;
    }

    .our-work-arrow {
        display: none;
    }

    .small-icon {
        width: 60px;
    }

    /* Donate page */

    .donate-wrapper {
        flex-direction: column;
        margin: 0 auto;
        width: 95%;
    }

    .donate-content {
        width: 100%;
    }

    .donate-content h1 {
        font-size: 70px;
    }

    .donate-left {
        margin-left: 0;
    }

    .donate-left p {

        /* margin-top: 2vh; */
    }

    .donate-right {
        margin-top: 10vh;
        margin: 0 auto;
    }

    .heart-icon {
        margin: 0 auto;
    }

    .all-donate-icons {
        display: flex;
        flex-direction: column;
        
    }

    .donate-icon {
        width: 145px;
        height: 95px;
    }

    .donate-text {
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid rgba(255, 255, 255, 0.624);
        width: 85%;
        margin: 0 auto;
        border-radius: 5px;
        padding: 15px;
        margin-top: 4vh;
    }

    .donate-text p {
        font-size: 18px;
    }

    .donate-text span {
        text-decoration: underline;
        color: rgb(97, 254, 44);
    }

    /* Testimonials */

    .testimonials-content {
        width: 100%;
    }
    .testimonials-content h1 {
        font-size: 55px;
    }

    .all-reviews {
        width: 85%;
        height: fit-content;
        background-color: rgba(57, 57, 57, 0.709);
        border: 1px solid white;
        border-radius: 5px;
    }

    .one-review h3 {
        font-size: 20px;
    }
    .one-review p {
        font-size: 16px;
    }


    .testimonials-wrapper a {
        color: rgb(97, 254, 44);
        text-decoration: underline;
        font-family: 'Titillium Web';
        font-size: 20px;
    }
    .leave-review {
        width: 90%;
        height: fit-content;
        padding: 10px;
    }
    
    .review-form label {
        font-size: 19px;
    }

    .review-form ::placeholder {
        font-size: 17px;
    }

    .review-form input {
        font-size: 19px;
    }

    .review-form textarea {
        width: 80%;
        height: 130px;
    }

    /* Contact Us page */

    .contact-content h1 {
        font-size: 60px;
    }
    .contact-icon {
        width: 20px;
        height: 20px;
    }
    .subscribe-input {
        width: 100%;
    }

    .subscribe-div {
        width: 90%;
    }

    .subscribe-form {
        width: 80%;
    }

    .contact-links {
        margin-top: 3vh;
        gap: 1vh;
        
        padding-bottom: 3vh;
    }

    .contact-div p {
        font-size: 16px;
    }

    .subscribe-button {
        width: 100px;
        height: 40px;
    }
    
    #address {
        width: 85%;
    }
    .contact-form textarea {
        height: 25vh;
    }




    .form-total {
        width: 90%;
        height: fit-content;
        margin: 0 auto;
        margin-top: 3vh;
        padding: 15px;
    }

    .contact-form {
        box-shadow: none;
        border-radius: none;
    }

    .contact-links p {
        color: white;
        text-decoration: none;
    }

    .contact-form select,
    input,
    option,
    textarea {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 70%;
        font-size: 18px;
    }


    .contact-form label  {
        font-size: 19px;
    }

    .contact-form option  {
        font-size: 19px;
    }

    .message-box {
        height: 12vh;
        width: 95%;
        margin: 0 auto;
    }

    .submit {
        width: 150px;
    }



    /* Adoptable Kitties page*/
    .petfinder-content {
        width: 100%;
    }
    .petfinder-content h1 {
        font-size: 60px;
    }
    .petfinder-wrapper {
        width: 95%;
    }

    .all-cats {
        background-color: rgba(0, 0, 0, 0.468);
        border: 1px solid rgba(255, 255, 255, 0.672);
    }

    .all-cats h4 {
        font-size: 18px;
    }

    .cat {
        padding-bottom: 10vh;
    }

    .cat a {
        margin-top: -10px;
        font-size: 25px;
        padding-bottom: 5px;
    }

    .cat h4 {
        font-size: 20px;
    }

    .cat-picture {
        width: 280px;
        height: 250px;
    }

    .selected-cat {
        /* width: 320px;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-left: -3vh; */
    }


    .one-cat h2 {
        font-size: 35px;
    }
    .one-cat h4 {
        font-size: 16px;
    }

    .one-cat h5 {
        font-size: 19px;
    }
    .one-cat p {
        font-size: 15px;
    }

    .one-cat a {
        color: rgba(12, 250, 51, 0.923);
        font-size: 19px;
    }

    .prev {
        width: 40px;
        height: 40px;
    }

    .next {
        width: 40px;
        height: 40px;
    }


    .cat-slideshow-container {
        padding: 10px;
        flex-direction: column;
    }
    .cat-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 90%;
    }
    .cat-slide img {
        width: 320px;
        height: 320px;
        object-fit: cover;
    }

    .selected-cat h5 {
        font-size: 16px;
    }
    .cat-bio {
        width: fit-content;
    }

    .cat-bio p {
        font-size: 17px;
        
    }

    .cat-criterias h4{
        font-size: 18px;
    }

    .form-icon {
        margin-top: 5vh;
    }
    .cat-form a {
        font-size: 28px;
    }
    .back-button {
        width: 100px;
    }
    .petfinder {
        width: 300px;
        margin-left: -3vh;
    }
    .petfinder img {
        width: 90px;
    }
    .cat-form img {
        width: 50px;
        height: 50px;
    }
}


@media screen and (max-width: 535px) {
    .ham-menu-links.active {
        left: 40vh;
    }
}
@media screen and (max-width: 475px) {

    .ham-menu-links.active {
        left: 32vh;
    }

    
}

@media screen and (max-width: 413px) {
    .ham-menu-links.active {
        left: 27vh;
    }
}

@media screen and (max-width: 373px) {
    .ham-menu-links.active {
        left: 22vh;
    }
}

@media screen and (max-width: 310px) {
    .ham-menu-links.active {
        left: 20vh;
    }

    .small-icon {
        display: none;
    }
}

@media screen and (max-width: 287px) {

    .mySlides {
        height: 350px;
    }
    .small-icon {
        margin-top: 0vh;
        width: 30px;
    }
    .one-column p {
        margin-top: 1vh;
        font-size: 14px;
    }

    .heart-icon img {
        display: none;
    }
}