body {
    background-color: black;
    margin: 0 auto;
    width: 1000px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Background Video */


.video-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    z-index: -1;
}


.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Top Navigations */


.top-bar {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.navigation-total {
    margin-top: 15px;
}

.social-links {
    gap: 5px;
    display: flex;
    justify-content: end;
    padding-top: 5px;
    
}

.social-icon {
    width: 50px;
}


.navigation-links {
    display: flex;
    gap: 20px;
}

.navigation-links a , .our-work-links a, .one-column a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    font-family: 'PT Sans';
}

.navigation-links a::after , .our-work-links a::after , .one-column a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(237, 46, 45, .8);
    /* Set the color of the underline */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navigation-links a:hover , .our-work-links a:hover , .one-column a:hover{
    color: rgba(237, 46, 45);
    /* Set the color of the links on hover */
}

.navigation-links a:hover::after , .our-work-links a:hover::after , .one-column a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main-logo {
    width: 160px;
}

/* Home */

#home, #about-us, #our-work, #adopt-foster, #donate, #testimonials, #contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-content {
    width: 1000px;
    text-align: center;
    position: relative;
    margin-bottom: 10vh;
}


.home-content h1 , .about-us-content h1, .our-work-content h1, .adopt-foster-content h1, .donate-content h1, .testimonials-content h1, .contact-content h1 {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.home-content a {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid whitesmoke;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: rgba(237, 46, 45, 0.5);
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}


.home-content a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    transition: left 0.5s ease;
}

.home-content a:hover::before {
    left: 100%;
}



.home-content h1 span {
    font-size: 80%;
}


/* About Us */

.about-us-content {
    width: 1000px;
    text-align: center;
    position: relative;
    height: 100%;
    margin-bottom: 15vh;
}

.about-us-flex {
    display: flex;
    margin-top: -5vh;
}

.about-us-text {
    flex: 1;
    
}

.description {
    width: 80%;
    
}

.about-us-content p {
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: 'Titillium Web';
}

.slideshow-container {
    flex: 1;
    position: relative;
    max-width: 100%;
    left: 30px;
}

.mySlides {
    display: none;
    width: 400px;
    height: 600px;
}

.mySlides img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


/* Our Work */

.our-work-content {
    text-align: center;
    width: 1000px;
    height: 75%;
    position: relative;
    height: 100%;
    margin-bottom: 10vh;
}

.our-work-wrapper {
    margin-top: -5vh;
}

.our-work-links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.our-work-placeholder {
    padding: 20px;
    display: block;
}

@keyframes hoverUpDown {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Adjust the value to control the height of the hover */
    }
}

.arrow-pic {
    width: 30px;
    animation: hoverUpDown 0.5s infinite;
}

.placeholder-pic {
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.our-work-links a.active {
    color: red;
    font-weight: bold;
}

.our-work-flex {
    display: none;
}

.our-work-text {
    padding: 25px;
    max-height: 420px;
}


.our-work-content p {
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: 'Titillium Web';
}

.work-picture {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-top: 8vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/* Adopt & Foster */

.adopt-foster-content {
    text-align: center;
    width: 1000px;
    height: 75%;
    position: relative;
    height: 100%;
    margin-bottom: 10vh;
}

.all-columns {
    display: flex;
    margin-top: -5vh;
}

.down {
    margin-top: 3vh;
}

.one-column {
    flex: 1;
    padding: 20px;
}

.one-column a {
    font-weight: bold;
    font-size: 20px;
}

.one-column p {
    color: white;
    font-family: 'Titillium Web';
}

.small-icon {
    width: 80px;
}

/* Donate */

.donate-content {
    text-align: center;
    width: 800px;
    height: 75%;
    position: relative;
    height: 100%;
    margin-bottom: 18vh;
}

.donate-content p {
    color: white;
    font-family: 'Titillium Web';
    font-size: 18px;
}

.thank-you-icon {
    margin-top: -8vh;
}

.donate-icon {
    width: 200px;
    height: 100px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/* Testimonials */

.testimonials-content {
    text-align: center;
    width: 1000px;
    height: 75%;
    position: relative;
    height: 100%;
    margin-bottom: 10vh;
}

.testimonials-content p {
    color: white;
    font-family: 'Titillium Web';
    font-size: 18px;
}

/* Contact */

.contact-content {
    text-align: center;
    width: 1000px;
    height: 75%;
    position: relative;
    height: 100%;
    margin-bottom: 10vh;
}