* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Background */



.video-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    z-index: -1;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Main container */

/* .wrapper-main {
    width: 100%;
} */

/* Top Navigations */

.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.ham-menu-links {
    display: none;
}

.ham-social-links {
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}


.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.top-bar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-total {
    margin-top: 3vh;
}

.social-links {
    gap: 5px;
    display: flex;
    justify-content: end;
    padding-top: 5px;
    
}

.social-icon {
    width: 50px;
}


.social-icon:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}


.navigation-links {
    display: flex;
    gap: 20px;
}

.navigation-links a , .our-work-links a, .one-column a, .testimonials-wrapper a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    font-family: 'PT Sans';
}

.navigation-links a::after , .our-work-links a::after , .one-column a::after , .testimonials-wrapper a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(237, 46, 45, .8);
    /* Set the color of the underline */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navigation-links a:hover , .our-work-links a:hover , .one-column a:hover , .testimonials-wrapper a:hover  {
    color: rgba(237, 46, 45);
    /* Set the color of the links on hover */
}

.navigation-links a:hover::after , .our-work-links a:hover::after , .one-column a:hover::after, .testimonials-wrapper a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main-logo {
    width: 120px;
    margin-top: 1vh;
}

/* Bottom Bar */

.bottom-bar {
    width: 100%;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background: black;
    height: 32px;
    display: block;
    padding: 5px;
}

.bottom-bar p {
    font-family: 'Titillium Web';
    font-size: 14px;
    color: rgb(165, 165, 165);
    margin: 2px 0;
    margin-top: -2px;
    margin-bottom: -8px;
}

/* Home */

#home, #about-us, #our-work, #adopt-foster, #donate, #testimonials, #contact , #petfinder{
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-content {
    /* width: 1000px; */
    /* text-align: center; */
    /* position: relative; */
    /* margin-bottom: 10vh; */
}


.home-content h1 , .about-us-content h1, .our-work-content h1, .adopt-foster-content h1, .donate-content h1, .testimonials-content h1, .contact-content h1 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.home-content a {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 2px solid whitesmoke;
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: rgba(237, 46, 45, 0.5);
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}


.home-content a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    transition: left 0.5s ease;
}

.home-content a:hover::before {
    left: 100%;
}

.home-content h1 {
    margin-top: 0vh;
}

.home-content h1 span {
    font-size: 80%;
}

.home-content h4 {
    color: white;
    font-family: 'Titillium Web';
    font-size: 14px;
    margin-top: 5vh;
}

.subscribe-icon {
    margin-top: 6vh;
}

.subscribe-form {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 1000px; */
}

.subscribe-input {
    width: 350px;
}

.subscribe-button {
    width: 80px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(0, 0, 0);
    color: black;
}

.subscribe-button:hover {
    background-color: white;
}

.subscribe-form ::placeholder {
    font-family: 'Titillium Web';
    font-size: 16px;
    color: grey;
}


/* About Us */

.about-us-content {
    width: 70%;
    /* text-align: center; */
    /* position: relative; */
    height: 100%;
    /* margin-bottom: 15vh; */
}

.about-us-content h1 {
    margin-top: 4vh;
}

.about-us-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.about-us-text {
    /* flex: 1; */
    margin-top: -12vh;
    
}

.description {
    width: 80%;
    margin-left: 10vh;
    /* height: 100%; */
}

.about-us-content p {
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    /* line-height: 1.2; */
    font-family: 'Titillium Web';
}

.slideshow-container {
    margin-top: 2vh;
    margin-right: 15vh;
    /* flex: 1; */
    /* position: relative; */
    /* max-width: 100%; */
    /* left: 30px; */
    /* align-items: center; */
}


.mySlides {
    
    display: none;
    width: 300px;
    height: 400px;
    
}


.mySlides img {
    
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}


/* Our Work */

.our-work-content {
    /* text-align: center; */
    /* width: 1000px; */
    /* height: 75%; */
    /* position: relative; */
    height: 100%;
    /* margin-bottom: 10vh; */
}

.our-work-content h1 {
    margin-top: 2vh;
}

.our-work-wrapper {
    /* margin-top: -5vh; */
}

.our-work-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 3vh;
}

.our-work-placeholder {
    padding: 20px;
    display: block;
}

@keyframes hoverUpDown {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Adjust the value to control the height of the hover */
    }
}

.arrow-pic {
    width: 30px;
    animation: hoverUpDown 0.5s infinite;
}

.placeholder-pic {
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.our-work-links a.active {
    color: red;
    font-weight: bold;
}

.our-work-flex {
    display: none;
    margin-top: -2vh;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    overflow-y: auto;
    overflow-x: hidden;
    height: 42vh;
    margin-top: 3vh;
    padding-bottom: 20px;
}

.our-work-text {
    padding: 10px;
    /* width: 40%; */
    margin-top: 2vh;
    /* margin-left: 5vh; */
    flex: 1;
    /* max-height: 420px; */
}


.our-work-content p {
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.1;
    font-family: 'Titillium Web';
}

.work-picture {
    /* margin-right: 5vh; */
    flex: 1;

}

.our-work-flex img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin-top: 5vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}




/* Adopt & Foster */

.adopt-foster-content {
    /* text-align: center; */
    /* width: 1000px; */
    /* height: 75%; */
    /* position: relative; */
    /* height: 100%; */
    /* margin-bottom: 10vh; */
    height: 100%;
}

.adopt-foster-content h1 {
    margin-top: 3vh;
}


.all-columns {
    margin-top: 2vh;
    width: 80%;
    margin: 0 auto;
    margin-left: 15vh;
    display: flex;
}

.down {
    margin-top: 3vh;
}

.one-column {
    flex: 1;
    padding: 25px;
    /* width: 85%; */
}

.one-column a {
    font-weight: bold;
    font-size: 18px;
}

.one-column p {
    color: white;
    font-size: 16px;
    font-family: 'Titillium Web';
    width: 85%;
    margin: 0 auto;
}

.small-icon {
    margin-top: 1vh;
    width: 40px;
}

/* Donate */

.donate-content {
    /* text-align: center; */
    /* width: 800px; */
    /* height: 75%; */
    /* position: relative; */
    height: 100%;
    margin-top: 3vh;
    width: 95%;
}

.donate-content h1 {
    margin-top: 1vh;
}

.donate-wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.donate-left {
    flex: 1;
    margin-left: 10vh;
}

.donate-right {
    flex: 1;
    margin-top: 6vh;
}

.donate-left p {
    color: white;
    font-family: 'Titillium Web';
    font-size: 15px;
}

.thank-you-icon {
    /* margin-top: -8vh; */
}

.donate-icon {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-bottom: 10px; */
}

.donate-icon:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

/* Testimonials */

.testimonials-content {
    /* text-align: center; */
    /* width: 900px; */
    /* position: relative; */
    /* margin-bottom: 10vh; */
    height: 100%;
    margin-top: 4vh;
}

.testimonials-wrapper {
    margin-top: 3vh;
    /* margin-top: -7vh; */
}

.all-reviews {
    padding: 10px;
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    /* margin-top: -20px; */
}

.one-review {
    padding: 20px;
}

.one-review h3 {
    color: white;
    font-family: 'Pt Sans';
    font-size: 15px;
}
.one-review p {
    margin-top: 2vh;
    color: white;
    font-family: 'Titillium Web';
    font-size: 15px;
}

.stars-ratings {
    margin-top: 2vh;
    width: 100px;
}


/* Contact */

.contact-content {
    /* position: relative; */
    height: 100%;
    /* margin-bottom: 10vh; */
    margin-top: 5vh;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 10vh;
    /* margin-top: -10px; */
}



.contact-div {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.contact-icon {
    width: 20px;
    height: 20px;
}

.contact-div p {
    font-size: 14px;
    color: white;
    font-family: 'Titillium Web';
}

.form-total {
    overflow-x: hidden;
    overflow-y: auto;
    height: 45vh;
    margin-top: 2vh;
    width: 100vh;
}


.contact-form {
    /* width: 100%; */
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.scroll-instruction {
    display: none;
}

.contact-form label{
    color: white;
    font-family: 'Titillium Web';
    font-size: 16px;
}

.contact-form p {
    color: rgb(255, 123, 123);
    font-family: 'Titillium Web';
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 1vh;
}

.contact-form ::placeholder {
    font-family: 'Titillium Web';
    font-size: 14px;
    color: grey;
}

.contact-form select, input, option, textarea{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Titillium Web';
}

.contact-form option {
    color: black;
}

.message-box {
    width: 50vh;
    height: 20vh;
    padding: 10px;
    margin-right: 2vh;
    margin-top: -2vh;
}

.submit {
    border: 1px solid white;
    background-color: rgba(237, 46, 45, .8);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 30vh;
    color: white;
    margin-top: -1vh;
}

.submit:hover {
    background-color: rgba(211, 40, 40, 0.8);
}

/* Petfinder */

.petfinder-content h1 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.petfinder-content {
    margin-top: 5vh;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    /* position: relative; */
    /* margin-bottom: 10vh; */
    /* height: 100%; */
}

.petfinder-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

.all-cats {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin-top: -7vh;
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    padding: 10px;
}

.all-cats-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-cats a {
    font-size: 18px;
    color: white;
    font-family: 'Pt Sans';
}

.all-cats h4 {
    font-size: 14px;
    color: white;
    font-family: 'Pt Sans';
}

.all-cats p {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: 'Titillium Web';
}

.cat {
    display: flex;
    flex-direction: column;
    height: 48vh;
}


.cat-picture {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    object-fit: cover;
    cursor: pointer;
}



.cat-picture:hover {
    transform: scale(1.06);
    transition: transform 0.4s ease;
}

@keyframes hoverLeftToRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(15%);
    }

    100% {
        transform: translateX(0);
    }
}

.back-button {
    margin-top: 1vh;
    width: 15vh;
    cursor: pointer;
    animation: hoverLeftToRight 0.8s infinite;
}

.one-cat {
    /* padding: 10px; */
}

.one-cat h2 {
    font-size: 35px;
    text-decoration: underline;
    color: white;
    font-family: 'Pt Sans';
}

.one-cat h4 {
    font-size: 18px;
    color: white;
    font-family: 'Pt Sans';
}

.one-cat h5 {
    font-size: 15px;
    color: white;
    font-family: 'Pt Sans';
}

.one-cat a {
    font-style: italic;
    text-decoration: underline;
    font-size: 15px;
}

.one-cat a:hover {
    color: red;
}

.cat-tagline {
    display: block;
}

.cat-slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-slide img {
    width: 300px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

.prev {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}


.next {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.all-tags {
    margin: 0 auto;
    /* width: 700px; */
}

.cat-bio {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    /* text-align: center; */
}
.cat-bio p {
    /* margin: 0 auto; */
}

.cat-criterias {
    /* margin-top: -10px; */
    /* margin-bottom: -10px; */
}

.petfinder {
    display: flex;
    justify-content: space-around;
    width: 280px;
    margin: 0 auto;
    padding: 10px;
}

.petfinder img {
    width: 105px;
    border-radius: 5px;
}

.cat-form {
    display: flex;
    justify-content: space-around;
    width: 230px;
    margin: 0 auto;
    padding: 15px;
}

.cat-form img {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}